@charset "UTF-8";


.videoWrap{
	width:100%;
	max-width: 640px;
	margin: 0 auto;	
}


#transcriptWrap {
	padding: 5%;
}

p {
	font-family: Gotham;
	font-size: .75em;
	line-height: 20px;
}

.current {
	background-color: yellow;
}



@media screen and (min-width: 768px) {
	
	#transcriptWrap {
		width: 100%;
		max-width: 640px !important;
		margin: 0 auto;
		padding-top: 20px;;
	}
	
	
}



